// https://coolors.co/001d3d-003566-409aa9-60cdcb-80ffec-ffc300-ffd60a

// blue
$darkblue: #001D3D;
$darkmediumblue: #003566;
$mediumblue: #409AA9;
$mediumlightblue: #60CDCB;
$lightblue: #80FFEC;

// yellow
$darkyellow: #FFC300;
$mediumyellow: #FFD60A;

// red
$mediumred:#c1121f;
$lightred: #e41422;

// white 
$white: #f1faee;


// shadow gray
$lightgray: rgb(178, 182, 183);


